[submodule "dependencies/nanhu"]
	path = dependencies/nanhu
	url = https://github.com/Siudya/Nanhu
[submodule "dependencies/hardfloat"]
	path = dependencies/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat
[submodule "dependencies/cde"]
	path = dependencies/cde
	url = https://github.com/chipsalliance/cde
[submodule "dependencies/difftest"]
	path = dependencies/difftest
	url = https://github.com/OpenXiangShan/difftest
[submodule "dependencies/nhl2"]
	path = dependencies/nhl2
	url = https://github.com/cyril0124/NHL2
[submodule "dependencies/rocket-chip"]
	path = dependencies/rocket-chip
	url = https://github.com/Siudya/rocket-chip
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/Siudya/ready-to-run
[submodule "dependencies/dramsim"]
	path = dependencies/dramsim
	url = https://github.com/OpenXiangShan/DRAMsim3
	branch = cosim-kmh
[submodule "dependencies/zhujiang"]
	path = dependencies/zhujiang
	url = https://github.com/OpenXiangShan-Nanhu/ZhuJiang
	branch = main
[submodule "dependencies/xs-utils"]
	path = dependencies/xs-utils
	url = https://github.com/OpenXiangShan-Nanhu/xs-utils
	branch = main
[submodule "dependencies/aia"]
	path = dependencies/aia
	url = https://github.com/OpenXiangShan-Nanhu/ChiselAIA
	branch = main
